#button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#save-button {
    border: none;
    background-color: orange;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: black;
    padding: 2rem;
    border-radius: 25px;
    transition: 0.3s;
}

#save-button:hover {
    background-color: rgba(224, 145, 0, 0.9);
    cursor: pointer;
    transition: 0.3s;
}